// colori:
$col-1: #171520;
$col-2: #b1b1b0;
$col-3: #febc4d;
$col-4: #6c6c6b;
$col-5: #1fad95;
$col-6: #9f5d13;
$col-7: #94ca2b;
$col-8: #08427d;
$col-9: #22272d;
$col-10: #e2e2e0;
$col-11: #825c3f;
$col-12: #8a9391;
$col-13: #b08d52;
$col-14: #7f5838;
$col-15: #8c8d8a;
$col-16: #2fab97;
$col-17: #141423;
$col-18: #f8b54e;
// immagini
$img-1: "../traccia/images/home-3-hero-bg.jpg";
// font-size
$h2-size: 35px;
$normal-size: 18px;
$big-size: 25px;
$medium-size: 21px;
$small-size: 13px;
